.container {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  width: 100%;
  gap: 20px;
  color: white;
  .column {
    min-width: 330px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    background-color: grey;
    border-radius: 8px;
    h3 {
      text-align: center;
    }
    .dropColumn {
      padding-bottom: 5px;
      .content {
        color: black;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        border: 1px solid white;
        padding: 5px 10px;
        border-radius: 5px;
        margin-bottom: 10px;
        background-color: white;
        button {
          background-color: transparent;
          border: none;
          color: black;
        }
        h4 {
          margin: 0;
        }
        p {
          margin: 0;
        }
      }
    }
  }
  .myBtn {
    background-color: grey;
    border: none;
    color: white;
    &:hover {
      background-color: rgba(grey, 0.7);
    }
  }
}
